@font-face {
    font-family: HomeFont;
    src: url(/fonts/static/Cinzel-Medium.ttf) format('truetype')
}

h1{
    font-family: HomeFont;
    font-size:10vh;
}


{
    margin: 0;
    padding: 0;
    font-family: HomeFont,sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction:column;
}

.header {
    position: fixed;
    overflow: hidden;   
    top:0px;
    left: 0px;
    right: 0px;
    height: 60px;
    border: 1px; 
    text-align: center;
    background: #000000;
    z-index:2;
}

.header .cart{
    float: right;
}

.main {
    margin-top:80px;
    border: 1px;

}

.search{
    vertical-align: central;
    float:right;
    font-size: 16px;
    font-family: HomeFont;
    line-height: 25px;
    border-radius: 4px;
    padding:12px 10px;
}


.header a{
    float:left;
    color: white;
    text-align: center;
    padding: 12px;
    font-family:HomeFont;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a:hover{
    background-color: #ddd;
    color:white;
}

.header img{
    float: left;
    padding:12px;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container1 {
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    border: 10px;
}

.container1 .card {
        position: relative;
        width: 320px;
        height: 450px;
        background: #232323;
        border-radius: 20px;
        overflow: hidden;
        margin-left: 50px;
        margin-right: 50px;
        z-index:1;
    }

.container1 .card:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #545454;
            clip-path: circle(150px at 80% 20%);
            transition: 0.5s ease-in-out;
        }

.container1 .card:hover:before {
            clip-path: circle(300px at 80% -20%);
        }

.container1 .card:after {
            content: 'Steel Arms';
            position: absolute;
            top: 10%;
            left: -20%;
            font-size: 12em;
            font-weight: 800;
            font-style: italic;
            color: rgba(233, 233, 233, 0.44)
        }

.container1 .card .imgBx {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10000;
            width: 100%;
            height: 220px;
            transition: 0.5s;
        }

.container1 .card:hover .imgBx {
            top: 0%;
            transform: translateY(0%);
        }

.container1 .card .imgBx img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) rotate(-25deg);
            width: 270px;
        }

.container1 .card .contentBx {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: 1s;
            z-index: 10;
        }

.container1 .card:hover .contentBx {
            height: 210px;
        }

.container1 .card .contentBx h2 {
            position: relative;
            font-weight: 700;
            font-family: HomeFont;
            letter-spacing: 1px;
            color: #fff;
        }

.container1 .card .contentBx a {
            display: inline-block;
            padding: 10px 20px;
            font-family: HomeFont;
            background: #fff;
            border-radius: 4px;
            margin-top: 10px;
            text-decoration: none;
            font-weight: 600;
            color: #111;
            opacity: 0;
            transform: translateY(50px);
            transition: 0.5s;
        }

.container1 .card:hover .contentBx a {
            opacity: 1;
            transform: translateY(0px);
            transition-delay: 0.75s;
        }

.container1 .fire:after {
        content: 'Firearms';
        position: absolute;
        top: 10%;
        left: -20%;
        font-size: 12em;
        font-weight: 800;
        font-style: italic;
        color: rgba(233, 233, 233, 0.44)
    }

.container1 .fire .imgBx img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(25deg);
        width: 270px;
    }