<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/scc/StyleHome.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <div class="header">
        <a href="/Home">Main</a>
        <a href="/Products/List">All Products</a>
        <a class="cart" href="/Cart">Cart</a>
        @using (Html.BeginForm("List", "Products"))
        {
            <div class="pull-right">
                <input class="search" type="text" name="searchString" />
            </div>
        }
    </div>

    <div class="container main">
        @RenderBody()
    </div>
        <script>
            var lastScrollTop = 70;
            $(window).scroll(function (event) {
                var st = $(this).scrollTop();
                if (st > (lastScrollTop)) {
                    $(".header").slideUp();
                }
                else {
                    $(".header").slideDown();
                }
                lastScrollTop = st;
            })
        </script>
    </body>
</html>